<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/banner.css">
</head>
<body>
  <section class="background">
    <div class="layout">
      <div class="border">
        <div class="messy">
          <h1 style="line-height: 1.em; text-align: center; font-size: 43px;"><span style="letter-spacing:0.1em">MESSY</span></h1>
        </div>
        <div class="secondhand">
          <p style="line-height:1.4em; text-align:center; font-size:17px;"><span style="letter-spacing:0.6em;">SECOND HAND CLOTHES</span></p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>