<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/home.css">
    <title>Document</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="240658807_131692455861283_7195435849864079620_n.png" class="logo" alt=""></a>
        <a href="#" id="name-logo">Messy</a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="kart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>

            </ul>
        </div>
    </section>
    
</body>
</html>